<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318880748188-bh2gcqvh8anl7hlanokjnfdvilkvslgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318880748188-bh2gcqvh8anl7hlanokjnfdvilkvslgn</string>
	<key>API_KEY</key>
	<string>AIzaSyAZc76A8F5jXPU2MmgFM8JGGs-ngWvP9Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>318880748188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.todoApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-6c0d7</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-6c0d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318880748188:ios:b44ee3e00863c5133b1359</string>
</dict>
</plist>